* {
  margin: 0;
  padding: 0;
}
.row {
  padding-top: 8rem;
}
.App {
  text-align: center;
}
.todo-border {
  border: 2px solid red;
  height: 25rem;
  background-color: rgb(155, 153, 153);
}

.inputContainer {
  background-color: rgb(155, 153, 153);
}
.button {
  width: 100%;
}
.text {
  width: 100%;
  border: 1px solid rgb(12, 6, 6);
  background-color: fuchsia;
}
